version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-2
    restart: unless-stopped
    ports:
      - "5051:5051"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - "C:/Users/subhradip.majumder/Desktop/projects/tts/uploads:/app/uploads"
